* {
  font-family: 'Poppins', 'Arial', sans-serif;
}

.not-found {
  position: relative;
  font-weight: 600;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.text-wrapper {
  margin-top: -10rem;
  width: 100%;
  text-align: center;
}

.not-found-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-img img {
  margin: 0 auto;
  width: 50%;
  margin-top: -10rem;
}

.text-wrapper h1 {
  font-size: 5rem;
  margin: 1rem;
  margin-top: 4rem;
}

.text-wrapper .error {
  font-size: 2rem;
  font-weight: 600;
}

.text-wrapper .message {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.text-wrapper .button {
  display: inline-block;
  font-size: 1.4rem;
  padding: 1rem 5rem;
  background-color: var(--primarycolor);
  border-radius: 4rem;
  text-decoration: none;
  color: #F2F4F8;
}

.text-wrapper .button:hover {
  box-shadow: 0 0 10px 2px var(--primarycolor);
}


.text-wrapper .button:active {
  transform: scale(0.95);
}

.text-wrapper .button:focus {
  outline: none;
}

@media (max-width: 600px) {
  .text-wrapper {
    margin-top: -2rem;
  }

  .text-wrapper h1 {
    font-size: 3rem;
  }

  .text-wrapper .error {
    font-size: 2rem;
  }

  .text-wrapper .message, .text-wrapper .button {
    font-size: 1.2rem;
  }
}