
.main {
  height: 100%;
  min-height: 100vh;
  background-color: var(--backgroundcolor);
}

.dust-paarticle
{
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.content {
  z-index: 3;
}

@media (max-width: 892px) {
  .dust-paarticle {
    display: none;
  }
}