.nav-bar {
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-bar * {
    z-index: 300;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: var(--textcolor);
    transition: all 0.2s ease-in;
}
.logo img {
    width: auto;
    height: 48px;
}

.logo .name-wrapper {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 1rem;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.nav-wrapper a {
    z-index: 200;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--textcolor);
    margin: 0 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav-bar a:hover {
    color: var(--primarycolor);
}

@media (max-width: 600px) {
    .logo .name-wrapper {
        display: none;
    }
    .nav-wrapper a {
        font-size: 1.2rem;
        margin: 0 0.4rem;
    }
}