footer {
  height: 80px;
  max-width: 450px;
  font-size: 0.8rem;
  margin: 0 auto;
  border-radius: 0.6rem;
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  color: var(--textcolor);
  line-height: 1.6em;
}

footer p {
  font-size: 0.9rem;
}

footer * {
  z-index: 300;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}