.input-wrapper {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: start;
}

.check-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

form * {
    margin: 0.2rem 0;
}

.check-wrapper * {
    margin: 0.6rem 0;
}

.value-wrapper {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.form-header {
    margin-right: auto;
    margin-left: 1rem;
    font-weight: 600;
}

.y-wrapper {
    padding: 1rem;
}

.error-r .p-component .p-checkbox-box:hover {
    border-color: var(--errorcolor);
    box-shadow: 0 0 10px 2px var(--errorcolor);
}

canvas {
    border: 1px solid var(--secondary);
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
    cursor: none;
}

.r1 {
    background-image: url("./graphs/r1.svg");
}

.r2 {
    background-image: url("./graphs/r2.svg");
}

.r3 {
    background-image: url("./graphs/r3.svg");
}

.r4 {
    background-image: url("./graphs/r4.svg");
}

.r5 {
    background-image: url("./graphs/r5.svg");
}