* {
  box-sizing: border-box;
  font-family: 'Poppins', 'Arial', sans-serif;
}

h1 {
  margin-bottom: 2rem;
  font-weight: bold;
  margin: 0;
}

form {
  background-color: var(--secondbackgroundcolor);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1rem;
}

input {
  background-color: var(--secondbackgroundcolor);
  color: var(--textcolor);
  border: none;
  border-bottom: 1px solid var(--strokecolor);
  padding: 1rem;
  margin: .5rem 0;
  width: 100%;
  font-size: 1rem;
  transition: all 0.2s ease-in;
}

input:focus,
input:active {
  outline: none !important;
  border-bottom: 1px solid var(--primarycolor);
}

button, .submit {
  margin: 1.4rem;
  border-radius: 1.6rem;
  border: 1px solid var(--primarycolor);
  background-color: var(--primarycolor);
  color: #FFFFFF;
  font-weight: bold;
  padding: 0.8rem 3rem;
  letter-spacing: 1px;
  text-transform: none;
  transition: all 0.2s ease-in;
  cursor: pointer;
  font-size: 1rem;
}

button:hover, .submit:hover {
  box-shadow: 0 0 10px 2px var(--primarycolor);
}

button:active, .submit:active {
  transform: scale(0.95);
}

button:focus, .submit:focus {
  outline: none;
}

.submit {
  width: auto;
  margin: 0;
  margin-top: 1.4rem;
}

.main-wrapper {
  position: relative;
  z-index: 100;
  margin-top: -2rem;
}

.main-card {
  display: flex;
  margin: auto;
  background-color: var(--secondbackgroundcolor);
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  min-height: 600px;
  transition: all 0.3s ease-in-out;
}

.main-card .form-container {
  border-radius: 12px;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  z-index: 100;
  padding: 3rem;
}

.table-anim-wrapper {
  position: relative;
  left: 0;
  height: 200%;
  width: 100%;
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
}

.form-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-right: 3rem;
  text-align: center;
  top: 0;
  height: 50%;
  width: 50%;
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
}

.table-wrapper {
  margin-top: 6rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  text-align: center;
  top: 50%;
  height: 50%;
  width: 100%;
  transform: translateY(0);
  transition: all 0.4s ease-in-out;
  z-index: 500;
  overflow-y: auto;
  display: block;
}

.table {
  width: 100%;
  border-collapse: separate;
}

.table-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 500;
  background-color: var(--secondbackgroundcolor);
  font-size: 1.2rem;
  border-bottom: 2px solid var(--primarycolor);
}

.table-header:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
}

.table-header:after {
  bottom: -1px;
  border-bottom: 2px solid var(--primarycolor);
}

tr {
  height: 3rem;
}

tr:hover {
  color: var(--primarycolor);
}

.no:hover {
  color: var(--errorcolor);
}

@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.canvas-container {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  z-index: 100;
}

.canvas-anim-wrapper {
  background: var(--primarycolor);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: 0;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.4s ease-in-out;
}

.canvas-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: all 0.4s ease-in-out;
}

.layout {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  z-index: 1000;
}

#points-canvas {
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 999;
}

.switcher {
  position: relative;
  width: 3.5em;
  height: 3.5em;
  margin: auto auto 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: var(--primarylight);
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}


.switcher svg {
  color: var(--primarycolor);
  margin: auto;
  width: 1.6em;
  height: 1.6em;
  transition: all 0.4s ease-in-out;
}

.switcher:hover {
  box-shadow: 0 0 10px 2px var(--primarylight);
  transform: scale(1.1) translateZ(0);
}

.main-card.table-active .canvas-container {
  transform: translateX(100%);
}

.main-card.table-active .table-anim-wrapper {
  transform: translateY(-50%);
}

.main-card.table-active .form-wrapper {
  padding-bottom: 8rem;
}

.main-card.table-active .table-wrapper {
  margin-top: 0rem;
}

.main-card.table-active .switcher svg {
  transform: rotate(540deg);
}


@media (max-width: 1260px) {
  .main-card {
    width: 768px;
    min-height: 480px;
  }
}

@media (max-width: 892px) {
  .main-card {
    width: auto;
  }

  .main-wrapper {
    margin-top: 0;
  }

  .main-card {
    width: auto;
    height: 840px;
  }

  .canvas-anim-wrapper {
    left: 0;
    height: 100%;
    width: 100%;
  }

  .form-wrapper {
    width: 100%;
    height: 25%;
    padding-right: 0;
  }

  form {
    padding-right: 0;
    padding-bottom: 3rem;
  }

  .canvas-container {
    left: 0;
    top: 50%;
    width: 100%;
    height: 50%;
  }

  .canvas-wrapper {
    height: 100%;
    width: 100%;
    transform: translateX(0);
  }

  .main-card.table-active .canvas-container {
    transform: translateX(0%);
    transform: translateY(-200%);
  }
}