@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


@media (prefers-color-scheme: dark) {
  :root {
    --textcolor: #f2f4f8;
    --secondtextcolor: #4c5656;
    --backgroundcolor: #242424;
    --secondbackgroundcolor: #323232;
    --strokecolor: #242424;
    --primarycolor: #a679da;
    --primarylight: #e9e9ff;
    --secondary: #ceaeff;
    --errorcolor: #ff3b6c;
    --errorlight: #ffd2dd;
    --hover: #323232;
    --switch: rgba(100, 100, 100, 0.1);

    --taskimg: url("#{resource['svg/graphic_dark.svg']}");
    --theme: "dark";
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --textcolor: #4c5656;
    --secondtextcolor: #4c5656;
    --backgroundcolor: #F2F4F8;
    --secondbackgroundcolor: #FFFFFF;
    --strokecolor: #dddddd;
    --primarycolor: #a679da;
    --primarylight: #e9e9ff;
    --secondary: #ceaeff;
    --errorcolor: #EF3E4F;
    --errorlight: #ffced3;
    --hover: #FFFFFF;
    --switch: rgba(255, 255, 255, 0.1);

    --taskimg: url("#{resource['svg/graphic.svg']}");
    --theme: "light";
  }
}

* ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

* ::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--secondbackgroundcolor);
}

* ::-webkit-scrollbar-thumb {
  background-color: #F2F4F8;
  border-radius: 10px;
}

/* Default settings */

html {
  height: 100%;
  font-size: 16px;
  font-family: 'Poppins', 'Arial', sans-serif;
  color: var(--textcolor);
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 2200px) {
  html {
    font-size: 18px;
    font-family: 'Open Sans', 'Arial', serif;
  }
}

@media (max-width: 1260px) {
  html {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
  }
}