* {
  box-sizing: border-box;
  font-family: 'Poppins', 'Arial', sans-serif;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 1.4rem;
  letter-spacing: 0.5px;
  margin: 1rem 0 2rem;
}

span {
  font-size: 0.9rem;
}

button {
  margin: 1.4rem;
  border-radius: 1.6rem;
  border: 1px solid var(--primarycolor);
  background-color: var(--primarycolor);
  color: #FFFFFF;
  font-weight: bold;
  padding: 0.8rem 3rem;
  letter-spacing: 1px;
  text-transform: none;
  transition: all 0.2s ease-in;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  box-shadow: 0 0 10px 2px var(--primarycolor);
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

button.ghost:hover {
  color: var(--primarycolor);
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

form {
  background-color: var(--secondbackgroundcolor);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 3.6rem;
  height: 100%;
  text-align: center;
  font-size: 1rem;
}

input {
  background-color: var(--secondbackgroundcolor);
  color: var(--textcolor);
  border: none;
  border-bottom: 1px solid var(--strokecolor);
  padding: 1rem;
  margin: .5rem 0;
  width: 100%;
  font-size: 1rem;
  transition: all 0.2s ease-in;
}

input:focus,
input:active {
  outline: none !important;
  border-bottom: 1px solid var(--primarycolor);
}

.sign-wrapper {
  position: relative;
  z-index: 100;
  margin-top: -2rem;
}

.sign-container {
  margin: auto;
  background-color: var(--secondbackgroundcolor);
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  min-height: 600px;
  transition: all 0.3s ease-in-out;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.4s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.sign-container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.4s;
}

@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  border-radius: 12px;
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  z-index: 100;
}

.sign-container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: var(--primarycolor);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.4s ease-in-out;
}

.sign-container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: all 0.4s ease-in-out;
}

.img-wrapper img{
  width: 80%;
  margin-bottom: 2rem;
  height: auto;
}

.overlay-left {
  transform: translateX(-20%);
}

.sign-container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.sign-container.right-panel-active .overlay-right {
  transform: translateX(20%);
}


@media (max-width: 1260px) {
  .sign-container {
    width: 768px;
    min-height: 480px;
  }
}

@media (max-width: 892px) {
  .sign-container {
    width: auto;
  }
}

@media (max-width: 600px) {
  .img-wrapper img{
    width: 80%;
    max-width: 300px;
    margin: 2rem 0;
    height: auto;
  }

  .sign-wrapper {
    margin-top: 0;
  }
  .sign-container {
    width: auto;
    height: 840px;
  }

  .sign-up-container,
  .sign-in-container {
    width: 100%;
    height: 50%;
  }

  .overlay {
    left: 0;
    height: 100%;
    width: 100%;
  }

  .overlay-container {
    left: 0;
    top: 50%;
    width: 100%;
    height: 50%;
  }

  .overlay-panel {
    height: 100%;
    width: 100%;
    transform: translateX(0);
  }

  .overlay-left {
    transform: translateY(-100%);
  }

  .sign-container.right-panel-active .sign-in-container {
    transform: translateX(0%);
    transform: translateY(100%);
  }

  .sign-container.right-panel-active .sign-up-container {
    transform: translateX(0%);
    transform: translateY(100%);
  }

  .sign-container.right-panel-active .overlay {
    transform: translateX(0%);
    transform: translateY(0%);
  }

  .sign-container.right-panel-active .overlay-container {
    transform: translateX(0%);
    transform: translateY(-100%);
  }

  .sign-container.right-panel-active .overlay-right {
    transform: translateX(0%);
    transform: translateY(-100%);
  }

  .sign-container.right-panel-active .overlay-left {
    transform: translateX(0%);
    transform: translateY(0%);
  }
}